<header class="site-header">

  <div class="container header-container">
    <div class="row header-logo-row">
      <div class="seven columns">
        <a href="/">
          <img src="{{ '/images/name-logo.svg' | prepend: site.baseurl }}" alt="Patrick Martin logo image" class="header-logo-svg">
        </a>
      </div>
      <div class="five columns">
          <div class="nav-flex">
            <div class="nav-flex-column">
              <ul class="nav-list">
                <li>Portfolio</li>
                <li><a href="mailto:{{site.email}}">Email <i class="fa fa-envelope" aria-hidden="true"></i></a></li>
              </ul>
            </div>
            <div class="nav-flex-column">
              <ul class="nav-list">
                <li><a href="{{site.github_profile}}">Github <i class="fa fa-github" aria-hidden="true"></i></a></li>
                <li><a href="{{site.linkedin_profile}}">LinkedIn <i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </div>

</header>
