.sidebar-right {
  padding-left: 10px;
}

.sidebar-list {
  list-style: none;
  
  .sidebar-list-item {
    margin-left: 20px;
    margin-bottom: 2px;
  }

  .sidebar-list-item-linked {
    margin-left: 20px;
    margin-bottom: 10px;  }
}